apache-airflow==2.8.3
apache-airflow[statsd]
apache-airflow-providers-google
apache-airflow-providers-airbyte
apache-airflow-providers-dbt-cloud
acryl-datahub-airflow-plugin[plugin-v2]
apache-airflow-providers-openlineage
connexion[swagger-ui]
cryptography
pyarrow
mpi4py
