# Main packages
apache-airflow-providers-google==14.0.0
apache-airflow-providers-airbyte==5.0.0
apache-airflow-providers-dbt-cloud==4.2.0
apache-airflow-providers-cncf-kubernetes==10.3.0
connexion[swagger-ui]<3.0
cryptography==44.0.2
pyarrow==19.0.1
opentelemetry-exporter-otlp==1.30.0
opentelemetry-exporter-otlp-proto-common==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
opentelemetry-exporter-otlp-proto-grpc==1.30.0
opentelemetry-proto==1.30.0
kubernetes<=31.0.0