apache-airflow==2.8.3
apache-airflow[statsd]
apache-airflow-providers-google
apache-airflow-providers-airbyte
apache-airflow-providers-dbt-cloud
apache-airflow-providers-openlineage
acryl-datahub-airflow-plugin[plugin-v2]==0.13.1.3rc10
connexion[swagger-ui]
cryptography
pyarrow
mpi4py
